@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(to right, #fbcbf8, #ff99fc);
}

h1 {
  font-family: 'Bradley Hand';
  font-size: 40px;
  font-weight: bold;
  color: rgb(89, 8, 175);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

form {
    background: #c39be3;
    padding: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1);
    width: 800px;

    text-align: center;
}

.menu-container {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.menu {
    margin-bottom: 15px;
    position: relative;
}

.menu-title {
    display: inline-block;
    width: 100%;
    background: #ff4a7d;
    color: white;
    padding: 10px;
    font-size: 22px;
    font-family: 'Bradley Hand';
    border-radius: 5px;
    transition: 0.3s;
}

.menu-title:hover {
    background: #e0436f;
}

.menu-dropdown {
    display: none;
    background: #ffb3fe;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    z-index: 10;
}

.menu:hover .menu-dropdown {
    display: block;
}

.menu-dropdown label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;  
  font-family: 'Bradley Hand';
  color: #720606; 
  transition: 0.3s;
}

.menu-dropdown label:hover {
    background: #ffdde1;
    border-radius: 5px;
}

.menu-dropdown img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    background: #ff4a7d;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background: #e0436f;
}
.buttons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center;
  position: absolute;
  bottom: 20px; /* Position at the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center it */
  width: 100%;
}

.btn {
  background-color: #e6a8de;
  color: rgb(34, 3, 91);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}
